form {
background:transparent;
width: 100%;
text-align: center;
}
form fieldset {
display: inline;
border:0px;
width:60%;
margin:auto;
margin-right:4px;
text-align:left;
vertical-align:top;
}
form fieldset legend {
}
form fieldset legend.search {
}
.fieldsetheader {
background-color:#CCCCCC;
color:#330000;
padding:3px;
border: 0px solid #8DCDEB;
border-radius:3px;
width:100%;
margin-bottom:4px;
}
form fieldset field {
display:block;
text-align:left;
margin-bottom:3px;
}
form fieldset field labell {
float:left;
width:24.5em;
text-align:left;
}
form fieldset field .fieldtext {
margin-bottom:8px;
}
form fieldset field input,textarea,select {
background-color:transparent;
border-radius: 5px;
border: 1px solid #8DCDEB;
padding:2px;
font-family:inherit;
font-size:inherit;
}
form fieldset field input:hover,select:hover,textarea:hover {
box-shadow: 0 0 3px #480FCE;
}
form fieldset field input:focus,select:focus,textarea:focus {
box-shadow: 0 0 3px #480FCE;
}
form fieldset field input[type="email"] {
display:inline;
background-image:url(images/mail.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input[type="search"] {
display:inline;
background-image:url(images/search.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input[type="tel"] {
display:inline;
background-image:url(images/tel.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input.date {
display:inline;
background-image:url(images/date.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form input[type="submit"]{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#8DCDEB;
border-radius: 15px;
cursor: pointer;
}
form input[type="reset"]{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#8DCDEB;
border-radius: 15px;
cursor: pointer;
}
form .number {
text-align:right;
}