@font-face {
font-family:Ubuntu;
font-style:normal;
font-weight:400;
src: local('Ubuntu'), url(https://fonts.googleapis.com/css?family=Ubuntu);
}
body {
font-family:"Ubuntu, Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
font-weight:400;
background:url(images/stripe.png) #FFF;
margin:0;
padding:5px;
}
.summary_box{
width:20%;
border: 1px solid;
text-align: left;
padding: 1%;
border-radius: 4px;
}
a {
color:#5B5B68;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
a.ButtonLink {
text-decoration:none;
display:inline;
}
.centre {
margin:0 auto;
text-align:center;
}
.dpTbl {
border:solid navy 1px;
}
.dpTD {
border:0;
width:20px;
background-color:#eee;
text-align:right;
cursor:pointer;
}
.dpDayHighlight {
border:0;
width:20px;
background-color:#FF0;
text-align:right;
cursor:pointer;
}
.dpTDHover {
border:0;
width:20px;
background-color:#ccc;
text-align:right;
cursor:pointer;
}
.notavailable {
font-weight:lighter;
font-style:italic;
color:#555;
}
.gallery {
margin: 5px;
float: left;
/* Class selector to let an element float to the left. */
}
[data-title]:hover:after {
opacity: 1;
transition: all 0.1s ease 0.5s;
visibility: visible;
}
[data-title]:after {
content: attr(data-title);
background-color: #1A1A1A;
color: #BFBFBF;
font-size: 100%;
position: absolute;
padding: 1px 5px 2px 5px;
bottom: -1.9em;
left: 10%;
white-space: nowrap;
box-shadow: 1px 1px 3px #222222;
opacity: 0;
border: 1px solid #111111;
border-radius:5px;
z-index: 99999;
visibility: hidden;
}
[data-title] {
position: relative;
}