form {
background:transparent;
width: 100%;
text-align: center;
color:#1A1A1A;
}
form fieldset {
display: inline;
border:solid 1px;
margin:auto;
padding-top:7px;
margin-bottom:4px;
margin-right:3px;
border-radius:7px;
text-align:left;
vertical-align:top;
}
form fieldset legend {
background-color:transparent;
padding:3px;
border: 1px solid;
border-radius:3px;
font-size:150%;
margin-top:3px;
}
form fieldset legend.search {
background-image:url(images/magnifier.png);
background-repeat: no-repeat;
background-size:contain;
padding-left:32px;
}
form fieldset field {
display:block;
text-align:left;
margin-bottom:3px;
}
form fieldset field label {
float:left;
width:24.5em;
text-align:left;
}
form fieldset field .fieldtext {
margin-bottom:8px;
}
form fieldset field input,textarea,select {
background-color:transparent;
border-radius: 5px;
border: 1px solid #8DCDEB;
padding:2px;
color:#1A1A1A;
font-family:inherit;
font-size:inherit;
}
form fieldset field input:hover,select:hover,textarea:hover {
background-color:#e3e5f5;
border-color:gray;
border-style:solid;
border-width:1px;
box-shadow: 0 0 3px #480FCE;
}
form fieldset field input:focus,select:focus,textarea:focus {
box-shadow: 0 0 3px #480FCE;
}
form fieldset field input[type="email"] {
display:inline;
background-image:url(images/mail.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input[type="search"] {
display:inline;
background-image:url(images/search.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input[type="tel"] {
display:inline;
background-image:url(images/tel.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input.date {
display:inline;
background-image:url(images/date.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form input[type="submit"]{
background:#E3E1E1;
padding: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#8DCDEB;
border-radius: 3px;
cursor: pointer;
color:#1A1A1A;
}
form input[type="reset"]{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#8DCDEB;
border-radius: 15px;
cursor: pointer;
color:#1A1A1A;
}
form .number {
text-align:right;
}