header {
background:#CFCFCF;
padding:10px;
}
#Info {
display:inline;
padding:10px;
}
#Info img {
padding-right:7px;
width:32px;
}
#ActionIcon {
display:inline;
float:right;
padding-left:10px;
}
#ActionIcon img{
padding-right:7px;
width:32px;
}
#ExitIcon {
display:inline;
float:right;
padding-left:10px;
padding-right:30px;
}
.FontSize {
font-weight:bold;
display:inline;
padding:3px;
color:#4D4D4D;
}
.ScriptTitle {
font-weight:bold;
font-size:130%;
display:inline;
padding:10px;
margin-left:0px;
}