
table {
width:auto;
max-width:90%;
margin:0 auto 10px;
}

th {
background-color:#C3C3C3;
color:#300;
text-align:center;
vertical-align:middle;
}

th.number {
background-color:#cccce5;
color:#300;
text-align:right;
vertical-align:middle;
}

th.SortedColumn {
cursor:s-resize;
padding-right:16px;
}

td {
text-align:left;
}

.table1 {
width:90%;
border:0 0 2px 2px #222 solid;
background:#eee;
margin:0 auto;
}

.tableheader {
background-color:#cccce5;
color:#300;
}

tr.striped_row:nth-of-type(even) {
background-color:#CCCCCC;
}

tr.striped_row:nth-of-type(odd) {
background-color:#EEEEEE;
}

tr.success_row {
background-color:#b9ecb4;
color:#006400;
border:1px solid #006400;
width:80%;
text-align:center;
margin:0 auto;
}

tr.warn_row {
background-color:#f5dbfd;
color:maroon;
border:1px solid maroon;
width:80%;
text-align:center;
margin:0 auto;
}

tr.info_row {
background-color:#c7ccf6;
color:navy;
border:1px solid navy;
width:80%;
text-align:center;
margin:0 auto;
}

tr.error_row {
background-color:#fddbdb;
color:red;
border:1px solid red;
width:80%;
text-align:center;
margin:0 auto;
}
