fieldhelp input:not([type=submit]):focus + fieldhelp {
display:none;
}

fieldhelp input:not([type=submit]) + fieldhelp {
display:none;
}

fieldhelp select:focus + fieldhelp {
display:none;
}

fieldhelp select + fieldhelp {
display:none;
}
