form {
background:transparent;
width: 100%;
text-align: center;
color:#1A1A1A;
}

form fieldset {
display: inline;
border:0px;
margin:auto;
}

.fieldsetheader {
background-color:#CCCCE5;
color:#460C00;
padding:3px;
border: 0px solid #8DCDEB;
border-radius:3px;
width:100%;
margin-bottom:4px;
}

form field {
display:block;
text-align:left;
margin-bottom:3px;
}

form label {
float:left;
width:24.5em;
text-align:left;
}

.fieldtext {
margin-bottom:8px;;
}

form input,textarea,select {
background-color:transparent;
border-radius: 5px;
border: 1px solid #8DCDEB;
padding:2px;
color:#1A1A1A;
}


form input[type="submit"]{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#1A1A1A;
border-radius: 15px;
cursor: pointer;
}

form input[type="reset"]{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#1A1A1A;
border-radius: 15px;
cursor: pointer;
}
