
table {
table-layout: fixed;
}

th {
background-color:#cccce5;
color:#300;
text-align:center;
}

th.number {
background-color:#cccce5;
color:#300;
text-align:right;
}

th.SortedColumn {
cursor:s-resize;
padding-right:16px;
background-image:url(images/ascending.png);
background-repeat: no-repeat;
background-position:right;
background-size:12px;
}

td {
text-align:left;
}

td.select {
background-color:#eee;
}

.table1 {
width:90%;
background:#eee;
border:1px solid #222;
margin:0 auto;
}

.tableheader {
background-color:#cccce5;
color:#300;
}

tr.striped_row:nth-of-type(even) {
background-color:#CCC;
}

tr.striped_row:nth-of-type(odd) {
background-color:#EEE;
}

tr.success_row {
background-color:#b9ecb4;
color:#006400;
border:1px solid #006400;
}

tr.warn_row {
background-color:#f5dbfd;
color:maroon;
border:1px solid maroon;
}

tr.info_row {
background-color:#c7ccf6;
color:navy;
border:1px solid navy;
}

tr.error_row {
background-color:#fddbdb;
color:red;
border:1px solid red;
}
