
table {
}

table.selection {
}

th {
background-color:#cccce5;
color:#300;
text-align:center;
}

th.number {
background-color:#cccce5;
color:#300;
text-align:right;
}

th.SortedColumn {
cursor:s-resize;
}

td {
text-align:left;
}

td.select {
background-color:#eee;
}

.table1 {
width:90%;
background:#eee;
border:1px solid #222;
margin:0 auto;
}

.tableheader {
background-color:#cccce5;
color:#300;
}

tr.striped_row:nth-of-type(even) {
background-color:#CCC;
}

tr.striped_row:nth-of-type(odd) {
background-color:#EEE;
}
