fieldhelp input:not([type=submit]):focus + fieldhelp {
background:#BDF3BD;
color:#0E3E0E;
padding:2px;
border-radius:2px;
margin-left:2px;
visibility:visible;
display: inline;
width:200%;
}

fieldhelp input:not([type=submit]) + fieldhelp {
padding:2px;
border-radius:2px;
margin-left:2px;
display: inline;
width:100%;
visibility:hidden;
}

fieldhelp select:focus + fieldhelp {
background:#BDF3BD;
color:#0E3E0E;
padding:2px;
border-radius:2px;
margin-left:2px;
visibility:visible;
display: inline;
width:200%;
}

fieldhelp select + fieldhelp {
padding:2px;
border-radius:2px;
margin-left:2px;
display: inline;
width:100%;
visibility:hidden;
}
