.MainBody {
background:transparent;
margin:5px;
padding:10px;
border: 1px solid #82BCF4;
border-radius: 7px;
}
.ModuleList {
float:left;
background:transparent;
white-space:nowrap;
text-align:left;
padding-left:10px;
padding-right:10px;
padding-top:3px;
width:11%;
width:min-content;
border:1px solid #8DCDEB;
border-radius:7px;
margin:7px;
}
.ModuleList li a,.ModuleList li a:hover {
background:#7F7F7F;
color:#FFFFFF;
display:block;
border-radius:10px;
text-decoration:none;
margin-bottom:5px;
padding:3px;
border:1px solid #404552;
padding-left:5px;
}
.ModuleList .ModuleSelected a {
border:1px solid #1A1A1A;
background:#7F7F7F;
color:#FFFFFF;
padding-left:5px;
}
.ModuleList .ModuleUnSelected a {
border:1px solid #1A1A1A;
background:transparent;
color:#0000FF;
padding-left:5px;
}
.ModuleList ul,.MenuList ul {
margin:0;
padding:0;
}
.ModuleList li,.MenuList li {
list-style:none;
}
.MenuList {
display: inline;
width:30%;
border-radius:10px;
margin-top:5px;
vertical-align:top;
margin-right:5px;
}
.MenuList legend {
}
.MenuList legend img {
vertical-align:middle;
}
.MenuItem {
color:#8DCDEB;
text-decoration:none;
text-align:left;
padding:2px;
}
.MenuItem:hover {
background:transparent;
text-align:left;
color:white;
}
.MenuList .CustomMenuList {
background:#ddd;
outline:thin outset #ddd;
text-align:center;
color:#000;
}
.page_title_text {
color:black;
font-family:Arial, Verdana, Helvetica;
font-size:120%;
font-weight:bold;
padding-bottom:2px;
padding-top:2px;
text-align:center;
clear: both;
}
.page_title_text img {
padding-right:7px;
width:32px;
vertical-align:middle;
}
.toplink {
float:left;
margin-top:10px;
display:inline-block;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}