
table {
table-layout: fixed;
}

th { /* table heading */
background-color: #cccce5;
color: #330000;
font-size: 10px;
font-weight: normal;
text-align: center;
}

th.number {
background-color:#cccce5;
color:#300;
text-align:right;
}

th.SortedColumn {
cursor:s-resize;
padding-right:16px;
background-image:url(images/ascending.png);
background-repeat: no-repeat;
background-position:right;
background-size:12px;
}

td {
font-family: Arial, Verdana, Helvetica;
font-size: 10px;
text-align: right;
}

td.select {
background-color:#eee;
}

/* Table type is used for UI tables type 1 */
.table1 {
width:90%;
background: #eee;
border: 1px solid #222;
margin: 0 auto;
}

.tableheader {
font-weight: normal;
background-color: #cccce5;
color: #330000;
}

tr.striped_row:nth-of-type(even) {
background-color:#CCCCCC;
}

tr.striped_row:nth-of-type(odd) {
background-color:#EEEEEE;
}

tr.success_row {
background-color:#b9ecb4;
color: darkgreen;
border: 1px solid darkgreen;
}

tr.warn_row {
background-color:#f5dbfd;
color: maroon;
border: 1px solid maroon;
}

tr.info_row {
background-color:#c7ccf6;
color: navy;
border: 1px solid navy;
}

tr.error_row {
background-color:#fddbdb;
color: red;
border: 1px solid red;
}
