form {
background:transparent;
width: 100%;
text-align: center;
}

form fieldset {
display: inline;
border:0px;
}

form field {
display:block;
text-align:left;
margin-bottom:3px;
}

form label {
float:left;
width:24.5em;
text-align:left;
}

.fieldtext {
margin-bottom:8px;;
}

form input,textarea,select {
background-color:#E9E8FA;
color:#080831;
border-radius: 5px;
border: 1px solid #1F1F57;
padding:2px;
}

form input[type="submit"]{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6px;
padding-right: 6px;
margin: 1px;
border: 2px solid #565FA9;
border-radius: 15px;
cursor: pointer;
}

form input[type="reset"]{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#8DCDEB;
border-radius: 15px;
cursor: pointer;
}
