header {
background:transparent;
padding:10px;
}
header #Info {
display:inline;
padding:10px;
}
header #Info img {
padding-right:7px;
width:32px;
vertical-align:middle;
}
header #Info a {
}
header #ActionIcon {
display:inline;
float:right;
padding-left:10px;
}
header #ActionIcon img{
padding-right:7px;
width:32px;
}
header #ExitIcon {
display:inline;
float:right;
padding-left:10px;
padding-right:30px;
}
header #ExitIcon img {
width:32px;
}
header .FontSize {
font-weight:bold;
display:inline;
padding:3px;
}
header .ScriptTitle {
font-weight:bold;
font-size:130%;
display:inline;
padding:10px;
margin-left:0px;
}
header #favourites {
background:transparent;
overflow: hidden;
color:#B0C4DE;
font-size: 130%;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 7px;
padding-right: 7px;
border: solid 1px #fff;
border-radius: 15px;
margin: 2px;
}
header #favourites:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
cursor:pointer;
}