form {
background:transparent;
width: 100%;
text-align: center;
color:#1A1A1A;
}

form fieldset {
background:#FFFFFF;
display: inline;
border:solid 1px;
margin:auto;
padding-top:7px;
margin-bottom:4px;
border-radius:7px;
box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
width:51%;
text-align:left;
}

form legend {
background:#FFFFFF;
padding:3px;
border: 1px solid;
border-radius:9px;
font-size:150%;
margin-top:3px;
box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
}

legend.search {
background-image:url(images/magnifier.png);
background-repeat: no-repeat;
background-size:contain;
padding-left:32px;
}

form field {
display:block;
text-align:left;
margin-bottom:3px;
}

form label {
float:left;
width:24.5em;
text-align:left;
}

.fieldtext {
margin-bottom:8px;;
}

form input,textarea,select {
background-color:transparent;
border-radius: 5px;
border: 1px solid #8DCDEB;
padding:2px;
color:#1A1A1A;
font-family:inherit;
font-size:inherit;
}


form input[type="submit"]{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#8DCDEB;
border-radius: 15px;
cursor: pointer;
color:#1A1A1A;
}

form input[type="reset"]{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 6px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#8DCDEB;
border-radius: 15px;
cursor: pointer;
color:#1A1A1A;
}
