form {
background:transparent;
width: 100%;
text-align: center;
}
form fieldset {
background:#556699;
color:#FFFFFF;
display: inline;
border:solid 1px;
margin:auto;
padding-top:7px;
margin-top:4px;
margin-bottom:4px;
margin-right:2px;
border-radius:7px;
text-align:left;
vertical-align:top;
}
form fieldset legend {
background-color:#C9C5C5;
color:#1A1A1A;
padding:3px;
border: 1px solid;
border-radius:3px;
font-size:150%;
margin-top:3px;
}
form fieldset legend.search {
background-image:url(images/magnifier.png);
background-repeat: no-repeat;
background-size:contain;
padding-left:32px;
}
form fieldset field {
display:block;
text-align:left;
margin-bottom:3px;
}
form fieldset field label {
float:left;
width:24.5em;
text-align:left;
}
form fieldset field .fieldtext {
margin-bottom:8px;
display:inline;
}
form fieldset field input,textarea,select {
background-color:#556699;
border-radius: 5px;
border: 1px solid #8DCDEB;
padding:2px;
color:#EFEFEF;
font-family:inherit;
font-size:inherit;
}
form fieldset field select:not([multiple]) {
background:url(images/descending.png) no-repeat right #556699;
padding-right:24px;
background-size:contain;
-moz-appearance:none;
-webkit-appearance: none;
}
form fieldset field input:hover,select:hover,textarea:hover {
box-shadow: 0 0 3px #480FCE;
transition-duration:0.5s;
}
form fieldset field input:focus,select:focus,textarea:focus {
box-shadow: 0 0 3px #480FCE;
transition-duration:0.5s;
}
form fieldset field input[type="email"] {
display:inline;
background-image:url(images/mail.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input[type="search"] {
display:inline;
background-image:url(images/search.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input[type="tel"] {
display:inline;
background-image:url(images/tel.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input.date {
display:inline;
background-image:url(images/date.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form input[type="submit"]{
padding-top: 4px;
padding-bottom: 4px;
padding-left: 16px;
padding-right: 16px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#070745;
background:#CAE7F1
border-radius: 3px;
cursor: pointer;
transition-duration:0.5s;
}
form input[type="reset"]{
padding-top: 4px;
padding-bottom: 4px;
padding-left: 16px;
padding-right: 16px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#070745;
background:#CAE7F1
border-radius: 3px;
cursor: pointer;
transition-duration:0.5s;
}
form .number {
text-align:right;
}