
table {
background-color:#fff;
width:100%;
margin:0 auto;
}

th {
background-color:#777C59;
color:#FFF;
text-align:center;
}

th.number {
text-align:right;
background-color:maroon;
color:#FFF;
}

th.SortedColumn {
cursor:s-resize;
padding-right:16px;
background-image:url(images/ascending.png);
background-repeat: no-repeat;
background-position:right;
background-size:12px;
}

td {
text-align:left;
}

td.select {
background-color:#eee;
}

.table1,.table2 {
width:90%;
background:#eee;
border:0 0 2px 2px #222 solid;
margin:0 auto;
}

.tableheader {
background-color:#777C59;
color:#FFF;
}

tr.striped_row:nth-of-type(even) {
background-color:#72824D;
}

tr.striped_row:nth-of-type(odd) {
background-color:#CAF17C;
}

tr.success_row {
background-color:#b9ecb4;
color:#006400;
border:1px solid #006400;
}

tr.warn_row {
background-color:#f5dbfd;
color:maroon;
border:1px solid maroon;
}

tr.info_row {
background-color:#c7ccf6;
color:navy;
border:0 solid navy;
}

tr.error_row {
background-color:#fddbdb;
color:red;
border:1px solid red;
}
