
table {
background-color:#eee;
border:0 0 2px 2px #222 solid;
background:#eee;
width:100%;
}

th {
background-color:#ccc;
color:#300;
text-align:center;
}

th.number {
text-align:right;
background-color:#ccc;
color:#300;
}

th.SortedColumn {
cursor:s-resize;
padding-right:16px;
background-image:url(images/ascending.png);
background-repeat: no-repeat;
background-position:right;
background-size:12px;
}

td {
text-align:left;
}

.table1 {
width:90%;
background:#eee;
border:1px solid #222;
margin:0 auto;
}

.tableheader {
background-color:#cccce5;
color:#300;
}

tr.striped_row:nth-of-type(even) {
background-color:#CCC;
}

tr.striped_row:nth-of-type(odd) {
background-color:#EEE;
}

tr.success_row {
background-color:#b9ecb4;
color:green;
border:1px solid green;
}

tr.warn_row {
background-color:#fa0;
color:#000;
border:1px solid #000;
}

tr.info_row {
background-color:#5d70f8;
color:#FFF;
border:1px solid #FFF;
}

tr.error_row {
background-color:red;
color:#FFF;
font-style:italic;
font-weight:700;
border:3px solid red;
}
