form input:not([type=submit]):focus + fieldhelp {
display:none;
}

form input:not([type=submit]) + fieldhelp {
display:none;
}

form select:focus + fieldhelp {
display:none;
}

form select + fieldhelp {
display:none;
}
